.h-stack {
	display: flex;
	&> :not(template) ~ :not(template) {
    --space-x-reverse: 0;
    margin-right: calc(8px * var(--space-x-reverse)) !important;
    margin-left: calc(8px * (1 - var(--space-x-reverse)));
}
	&>.spacer {
		flex-grow:1
	}
	&:not(.m-keep){
		@include phone{
			display:block;
			&> :not(template) ~ :not(template) {
				@include margin(null 0px);}
			margin-bottom: 8px;
			&>*{
				margin-bottom:8px
			}
		}
	}

	&.middle{
		align-items:center;
	}
	&.top{
		align-items:flex-start;
	}
	&.bottom{
		align-items:flex-end;
	}
	
	
	
}

.v-stack {
	margin-bottom: 8px;
	&>*{
		margin-bottom:8px
	}
	&>input{
		width:100%;
		margin-bottom:0px;
	}
	&>.spacer{
		height:8px
	}
}